.container {
  padding: 0 20vw;
}

.container h2 {
  margin-top: 3rem;
  margin-bottom: 0;
}

.container h3 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.container ul {
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 0;
  padding-left: 1rem;
}

.container li {
  padding-bottom: 0.5rem;
}

.container a {
  color: #0070f3;
}

.container a:hover {
  text-decoration: underline;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.lineSpacer {
  margin-bottom: 0.1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2rem 0 1rem 0;
  line-height: 1.15;
  font-size: 3rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .container {
    padding: 0 10vw;
  }
}

.description {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

.spacedLines {
  line-height: 2;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
